@import 'breakpoints';

.ui {
	$parent: &;

	display: inline-block;
	background: transparent;
	margin: 0;
	padding: 0;
	line-height: 1;
	cursor: pointer;
	border: none;

	//width: 25px;
	// height: 25px;
	color: inherit;

	&:hover {
		color: var(--clr-primary);
	}
}
